In [2]:
import pandas as pd
import numpy as np
from processing import train_data,test_data, job_req
import re
#from sklearn.feature_extraction.text import TFidfVectorizer
#from sklearn.metrics.pairwise import cosine_similarity

machine learn engineering 13585abc knowledge innovation youll focus research building design selfrunning artificial intelligence ai system automate predictive model responsible design create ai algorithm capable learn make prediction define machine learn ml experience qualification  bachelor master degree mention course per requirement  02 year work experience provide analytics solution commercial set technical expertise must  machine learn cluster logistic regression classification  different library scikit learn numpy panda matplotlib seaborn  deep learning framework tensorflow kera pytorch application neural network model cnn rnn gans  familiar natural language processing associate library like nltk spacy beautiful soup  pyspark hadoop big data pipeline  data science methodology exploratory data analysis feature engineering model selection deployment model scale model evaluation  deploy nlp architecture computer vision model production consider plus  transformer advance technique nlp  familiar computer vision model object detection ocr opencv  analytical tool reduce medium data transfer  web framework like django database like mongodb nosql graphql  sql firebase aws azure google cloud platform job type full time

In [3]:
print(job_req)

machine learn engineering 13585abc knowledge innovation youll focus research building design selfrunning artificial intelligence ai system automate predictive model responsible design create ai algorithm capable learn make prediction define machine learn ml experience qualification  bachelor master degree mention course per requirement  02 year work experience provide analytics solution commercial set technical expertise must  machine learn cluster logistic regression classification  different library scikit learn numpy panda matplotlib seaborn  deep learning framework tensorflow kera pytorch application neural network model cnn rnn gans  familiar natural language processing associate library like nltk spacy beautiful soup  pyspark hadoop big data pipeline  data science methodology exploratory data analysis feature engineering model selection deployment model scale model evaluation  deploy nlp architecture computer vision model production consider plus  transformer advance technique nlp  familiar computer vision model object detection ocr opencv  analytical tool reduce medium data transfer  web framework like django database like mongodb nosql graphql  sql firebase aws azure google cloud platform job type full time

In [4]:
import sklearn

In [5]:
import sklearn.feature_extraction.text as extract_feature

In [6]:
doc_cleaned_train = pd.DataFrame(train_data,columns=['documents'])
doc_cleaned_test = pd.DataFrame(test_data,columns=['documents'])

In [7]:
print("Size: ", doc_cleaned_train.shape)
print("Size: ", doc_cleaned_test.shape)

Size:  (90, 1)
Size:  (60, 1)

In [8]:
doc_cleaned_trainX = doc_cleaned_train.append(pd.DataFrame([job_req],
                                                          columns=['documents']),ignore_index=True)

In [9]:
doc_cleaned_trainX.shape

(91, 1)

In [10]:
doc_cleaned_trainX.tail()

                                            documents
86  shawn buffet professional profile employment h...
87  work experience hsbc bank data analyst apr 202...
88  stella thatcher executive profile work experie...
89  work experience hcl junior sdedata machine lea...
90  machine learn engineering 13585abc knowledge i...

In [11]:
tfidfvectorizer = extract_feature.TfidfVectorizer()

In [12]:
tfidf_vectors = tfidfvectorizer.fit_transform(doc_cleaned_trainX['documents'])

In [13]:
type(tfidf_vectors)

scipy.sparse.csr.csr_matrix

In [14]:
print(tfidf_vectors)

  (0, 1750)	0.1640082159775227
  (0, 908)	0.10314983990871911
  (0, 733)	0.1640082159775227
  (0, 247)	0.15023630716062333
  (0, 1728)	0.07560602227492039
  (0, 1897)	0.1640082159775227
  (0, 1484)	0.1640082159775227
  (0, 1846)	0.04905500995426563
  (0, 509)	0.1640082159775227
  (0, 1619)	0.1640082159775227
  (0, 1443)	0.1640082159775227
  (0, 1397)	0.05400421455166858
  (0, 24)	0.09791400317655394
  (0, 210)	0.11692174872561846
  (0, 1353)	0.11292116471777186
  (0, 1364)	0.1404649823515706
  (0, 656)	0.10043113280052668
  (0, 1402)	0.04373703120770415
  (0, 1425)	0.08180983191886636
  (0, 1269)	0.15023630716062333
  (0, 1600)	0.13288575400287972
  (0, 1674)	0.06777612336856793
  (0, 1167)	0.12145723680250604
  (0, 1361)	0.09337851509966635
  (0, 1165)	0.052697680150823586
  :	:
  (90, 1386)	0.043587720187818285
  (90, 1027)	0.044891966734010434
  (90, 1208)	0.045574045056272716
  (90, 915)	0.048533874724118534
  (90, 129)	0.0549105769827736
  (90, 1214)	0.055992049830239664
  (90, 1216)	0.06093820436653991
  (90, 478)	0.036129545081697155
  (90, 1568)	0.03752995575461767
  (90, 485)	0.07369160888385004
  (90, 1118)	0.08267906593546218
  (90, 967)	0.08672036845077405
  (90, 1728)	0.049339992521970716
  (90, 1674)	0.0442302520295739
  (90, 1361)	0.06093820436653991
  (90, 1165)	0.24073111459013136
  (90, 1479)	0.053879423785622556
  (90, 1038)	0.114503207617089
  (90, 1082)	0.0687019245702534
  (90, 453)	0.09672903344895686
  (90, 604)	0.09551209534443664
  (90, 1506)	0.09804322524572935
  (90, 1094)	0.06093820436653991
  (90, 641)	0.06795166642340705
  (90, 1909)	0.02759913095304846

In [15]:
type(train_data)

list

In [16]:
print(tfidf_vectors.shape)

(91, 1931)

In [17]:
ref_vec=tfidf_vectors[90]

In [18]:
test_vec=tfidfvectorizer.transform(doc_cleaned_test['documents'])

In [19]:
print(test_vec.shape)

(60, 1931)

In [20]:
test_data_similarity = []

for i in test_vec:
    test_data_similarity.append(round(np.dot(ref_vec,i.T).toarray()[0][0]*100,2))

test_data = pd.read_csv("../dataset/test.csv")
print(test_data.head())

label_pd = pd.DataFrame(test_data_similarity,columns=['Match Percentage'])
print(label_pd.head())

My_pd = pd.concat([test_data,label_pd],axis=1)
My_pd.head()

     CandidateID
0  candidate_014
1  candidate_098
2  candidate_075
3  candidate_016
4  candidate_131
   Match Percentage
0             14.58
1             15.07
2             14.12
3             17.53
4              7.39

     CandidateID  Match Percentage
0  candidate_014             14.58
1  candidate_098             15.07
2  candidate_075             14.12
3  candidate_016             17.53
4  candidate_131              7.39

In [21]:
My_pd.to_csv("submission.csv",index=False)

In [22]:
import pickle

In [23]:
pickle.dump(tfidfvectorizer,open('tfidf.pkl','wb'))